
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.workshop1 , .workshop2 , .workshop3 , .workshop4{
    flex-direction:row;
}

.workshop1 h2 , .workshop2 h2 , .workshop3 h2 , .workshop4 h2{
    margin-right: 20px;
}

.figures{
    margin-left: 10px;
}